{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/mostbuzzed.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">{% endblock %}

{% block title %}Most buzzed{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-11 offset-1">
                <h1>Most popular TV Shows</h1>
            </div>
        </div>
    </div>


    <div class="mostbuzzed-small-view">

        {% for buzz in buzzes %}
            <div class="card mostbuzzedcard">
                <img src="{{ buzz.img }}" class="card-img-top" alt="affiche {{ buzz.title }}">
                <div class="card-body">
                    <p class="card-text">{{ buzz.nb_buzz }} <i class="fas fa-concierge-bell"></i></p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mostbuzzed-medium-view">
        <div class="container-fluid">
            {% for buzz in buzzes %}
                <div class="card mostbuzzedcard mb-3">
                    <div class="row no-gutters">
                        <div class="col-4 col-sm-3">
                            <a href="#"><img src={{ buzz.img }} class="card-img-top" alt="affiche {{ buzz.title }}"></a>
                        </div>
                        <div class="col-8 col-sm-9">
                            <div class="card-body">
                                <p class="card-text"><small class="text-muted">{{ buzz.nb_buzz }} <i class="fas fa-concierge-bell"></i></small></p>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content..</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mostbuzzed-large-view">
        <div class="container-fluid">
            <div class="row no-gutters">
                {% for buzz in buzzes %}
                    <div class="col-md-3">
                        <div class="card mostbuzzedcard">
                            <a href="#"><img src={{ buzz.img }} class="card-img-top" alt="affiche {{ buzz.title }}"></a>
                            <div class="card-body">
                                <p class="card-text"><small class="text-muted">{{ buzz.nb_buzz }} <i class="fas fa-concierge-bell"></i></small></p>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}