{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/mostbuzzed.css">{% endblock %}

{% block title %}Most buzzed{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 offset-1">
                <h1>Most popular TV Shows</h1>
            </div>
        </div>
    </div>

    <div class="mostbuzzed-small-view">
        {% for tvshowtest in tvshowtests %}
            <div class="card mostbuzzedcard">
                <img src="{{ tvshowtest.poster }}" class="card-img-top" alt="affiche {{ tvshowtest.title }}">
                <div class="card-body">
                    <h2>{{ tvshowtest.title }}</h2>
                    <p class="card-text">{{ tvshowtest.year }} {{ tvshowtest.genre }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mostbuzzed-medium-view">
        <div class="container-fluid">
            {% for tvshowtest in tvshowtests %}
                <div class="card mostbuzzedcard mb-3">
                    <div class="row no-gutters">
                        <div class="col-4 col-sm-3">
                            <a href="#"><img src={{ tvshowtest.poster }} class="card-img-top" alt="affiche {{ tvshowtest.title }}"></a>
                        </div>
                        <div class="col-8 col-sm-9">
                            <div class="card-body">
                                <h5 class="card-title">{{ tvshowtest.title }}</h5>
                                <p class="card-text"><small class="text-muted">{{ tvshowtest.genre }} - {{ tvshowtest.year }}</small></p>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content..</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mostbuzzed-large-view">
        <div class="container-fluid">
            <div class="row no-gutters">
                {% for tvshowtest in tvshowtests %}
                    <div class="col-md-3">
                        <div class="card mostbuzzedcard">
                            <a href="#"><img src={{ tvshowtest.poster }} class="card-img-top" alt="affiche {{ tvshowtest.title }}"></a>
                            <div class="card-body">
                                <h2>{{ tvshowtest.title }}</h2>
                                <p class="card-text"><small class="text-muted">{{ tvshowtest.genre }} - {{ tvshowtest.year }}</small></p>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}