{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/mostbuzzed.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">{% endblock %}

{% block title %}Most buzzed{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 offset-1">
                <h1>Most popular {{ genres.0.name}} TV Shows</h1>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        {% for genre in genres %}
            <div class="col-xs-12 col-sm-4 col-md-3">
                <a href="/tvshow/show/{{ genre.id }}">
                    <div class="card mostbuzzedcard">
                        {% if not(genre.img) %}
                            <img src="/assets/images/no-image.jpg"
                                 class="card-img-top" alt="{{ genre.title }}">
                        {% else %}
                            <img src="https://image.tmdb.org/t/p/w500{{ genre.img }}" class="card-img-top"
                                 alt="affiche {{ genre.title }}">
                        {% endif %}
                        <div class="row no-gutters home_buzz_body">
                            <div class="col-12">
                                <p class="home_buzz_text">{{ genre.nb_buzz }}</p>
                                <img class="home_buzz_img" src="/assets/images/buzzer-icon-pressed.png">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}