{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/mostbuzzed.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">{% endblock %}

{% block title %}Most buzzed{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-11 offset-1">
                <h1>Most buzzed TV Shows</h1>
            </div>
        </div>
    </div>

    <div class="mostbuzzed-small-view">

        {% for buzz in buzzes %}
            <div class="card mostbuzzedcard">
                <img src="{{ buzz.img }}" class="card-img-top" alt="affiche {{ buzz.title }}">
                <div class="card-body">
                    <span class="card-text">{{ buzz.nb_buzz }} <i class="fas fa-concierge-bell"></i></span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mostbuzzed-medium-view">
        <div class="container-fluid">
            <div class="row no-gutters">
                {% for buzz in buzzes %}
                    <div class="col-md-4">
                        <div class="card mostbuzzedcard">
                            <a href="#"><img src={{ buzz.img }} class="card-img-top" alt="affiche {{ buzz.title }}"></a>
                            <div class="card-body">
                                <span class="card-text">{{ buzz.nb_buzz }} <i class="fas fa-concierge-bell"></i></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="mostbuzzed-large-view">
        <div class="container-fluid">
            <div class="row no-gutters">
                {% for buzz in buzzes %}
                    <div class="col-md-3">
                        <div class="card mostbuzzedcard">
                            <a href="#"><img src={{ buzz.img }} class="card-img-top" alt="affiche {{ buzz.title }}"></a>
                            <div class="card-body">
                                <span class="card-text">{{ buzz.nb_buzz }} <i class="fas fa-concierge-bell"></i></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}