{% extends 'tvshowlayout.html.twig' %}

{% block img_header %}{{ tvshow.img }}{% endblock %}
{% block alt_img %}{{ tvshow.title }}{% endblock %}
{% block serietitle %}{{ tvshow.title }}{% endblock %}
{% block rating_season %}1,345 buzz{% endblock %}
{% block synopsis %}{{ tvshow.synopsis }}{% endblock %}
{% block genre %}{% for genre in genres %}{{ genre.name }} {% endfor %}{% endblock %}
{% block year %}{{ tvshow.year }}{% endblock %}
{% block friends_watched %}Lucas, Jeff and François have watched it{% endblock %}
{% block watched %}Watched{% endblock %}
{% block next_episode %}S03E03{% endblock %}
{% block on_air %}On air : 23/04/2020{% endblock %}
{% block buzz %}
    {% if buzzed == 0 %}
    <a href="/tvshow/buzz/{{ tvshow.id }}/1">BUZZ</a>
    {% else %}
    <a href="/tvshow/unbuzz/{{ tvshow.id }}/1">UNBUZZ</a>
    {% endif %}
{% endblock %}
{% block tvshowlayoutcontent %}
    <main>
        <div class="row">
            <div class="col-10">Distribution</div>
        </div>
        <div class="row">
            <div class="col-12 actors">
                {% for actor in actors %}
                    <div class="col-6 col-sm-2">
                        <div class="card">
                            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/{{ actor.profile_path }}"
                                 class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ actor.name }}</h5>
                                <p class="card-text">{{ actor.character }}</p>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}