{% extends 'layout.html.twig' %}

{% block content %}
    <header class="account-header">
        <div class=""><h1>Account Information</h1></div>
        <table class="userInfo container">
            <tr>
                <th class="col-4">USER ID:</th>
                <td class="col-4">{{ session.user.id }} &nbsp; <i class="far fa-question-circle" data-toggle="tooltip" data-placement="right"
                                                 title="Give this ID to your friends so they can see your buzz!"></i></td>
            </tr>
            <tr>
                <th class="col-4">USERNAME:</th>
                <td class="col-4">{{ session.user.username }}</td>
            </tr>
            <tr>
                <th class="col-4">FIRSTNAME:</th>
                <td class="col-4">{{ session.user.firstname }}</td>
            </tr>
            <tr>
                <th class="col-4">LASTNAME:</th>
                <td class="col-4">{{ session.user.lastname }}</td>
            </tr>
            <tr>
                <th class="col-4">EMAIL:</th>
                <td class="col-4">{{ session.user.email }}</td>
            </tr>
        </table>
    </header>

    {# Add a friend feature #}
    <div class="container add-friend-form">
        <form action="" method="POST">
            <div class="form-group row">
                <input class="col-4 offset-4" type="text" class="form-control" id="addFriend" name="addFriend"
                       placeholder="Insert your friend's ID here">
            </div>
            <small class="form-text text-error col-4 offset-4">
                {{ errors.friendID }}
            </small>
            <button type="submit" class="col-2 offset-5 btn user-buttons">Add</button>
        </form>
    </div>
    {# Display table of friends #}
    <h1>Your Friends</h1>

    <table class="table friends-list">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">USERNAME</th>
            <th scope="col">HIS BUZZ</th>
            <th scope="col">DELETE</th>
        </tr>
        </thead>
        <tbody>
        {% for friend in friends %}
                <tr>
                    <td>{{ friend.id }}</td>
                    <td>{{ friend.username }}</td>
                    <td><a href="/friends/index/{{ friend.id }}">buzzes</a></td>
                    <td>
                        <a href="/friends/delete/{{ friend.id }}"><button type="button" class="btn btn-danger"">X</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}